html body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  background-color: #ffe2e2;
}

.bg-green {
  background-color: green;
}
.bg-pink {
  background-color: pink;
}
.bg-blue {
  background-color: blue;
}

.text-center {
  text-align: center;
}

.main-swiper{
  --swiper-navigation-color: #00ff33;/* 单独设置按钮颜色 */
  --swiper-navigation-size: 30px;/* 设置按钮大小 */
}
/* svelte/swiper cards 自带的阴影，主动去掉 */
.swiper-slide-shadow {
  display: none;
}